<footer id="ak-footer">
    <div class="ak-footer-inner">
      <div class="ak-footer__copyright">
        <div class="footer-img"><img src="../assets/img/footer-img-1.png" alt=""></div>
        <div class="footer-img"><img src="../assets/img/footer-img-2.png" alt=""></div>
        <div class="footer-img"><img src="../assets/img/footer-img-3.png" alt=""></div>

        <span> Doğru müşterinin, <strong>doğru tedarikçisi</strong></span>
      </div>
      <div class="ak-footer__socials">
        <ul class="ak-socials">
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
      </div>

    </div>
  </footer>
