<section id="header">
    <a class="nav-logo" href="index.html"><img src="../assets/img/logo.png" class="logo"></a>
    <div>
      <ul id="navbar">
        <li>
          <a class="active" routerLink="/">Ana Sayfa</a>
        </li>
        <li>
          <a routerLink="/urunler/">Ürünler</a>
        </li>
        <li>
          <a routerLink="/kurumsal/">Kurumsal</a>
        </li>
        <li>
          <a routerLink="/hizmetler/" >Hizmetler</a>
        </li>
        <li class="nav-lang">
          <a href="contact.html">EN</a>
        </li>
        <li>
          <i id="bar" class="fas fa-bars" style="color: #fff;"></i>
        </li>
        <a href="#" id="close"><i class="fas fa-times"></i></a>
      </ul>
    </div>

    <div id="mobile">
      <a href="cart.html"><i class="fas fa-shopping-bag"></i></a>
      <i id="bar" class="fas fa-outdent"></i>

    </div>

  </section>
