<section id="main">
    <app-sidebar></app-sidebar>

    <div class="col-md-11">
        <div class="mainpage">

            <div class="product col-md-11">
                <div class="container">
                    <div class="row">
                        <div class="service animate__fadeInLeft col-md-3">
                            <div class="pro-title">
                                <a routerLink="/hizmetler">{{title}}</a>
                            </div>

                            <div class="pro-group-alt-title" *ngFor="let category of categories"
                                routerLink="/hizmetler/{{category.name}}">
                                <div class="service-title ">
                                    <a (click)="toggleShow()">{{category.name|uppercase}}</a>
                                </div>

                            </div>

                        </div>
                        <div class="service-container animate__fadeInUp col-md-9">

                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-7" *ngIf="serviceDetail">
                                        <div class="service-detail">
                                            <div class="service-img">
                                                <img [src]="serviceDetail[0].categoryImg" alt="">
                                            </div>
                                            <div class="service-detail-desc">
                                                <p>{{serviceDetail[0].description}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>