<!-- <app-navbar></app-navbar> -->

<section id="main" >
    <div class="col-md-12">
        <div class="mainpage" style="margin: 20px 0 0 40px;">

            <app-sidebar></app-sidebar>
            <div class="product col-md-11">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" >
                            <div class="pro-title">
                                <a routerLink="/urunler">{{title}}</a>
                            </div>
                            <div class="pro-group">
                                <div class="pro-group-title">
                                    <h1>{{group_title}}</h1>
                                </div>
                                <div class="icon">
                                    <i class="fa-solid fa-arrow-left"></i>

                                </div>
                            </div>
                            <div class="pro-group-alt-title">
                                <div>
                                    <h3>{{group_alt_title}}</h3>
                                </div>
                            </div>
                            <div class="product-category">
                                <div class="pro-group-title">
                                    <h1>GIDA KİMYASALLARI</h1>
                                </div>
                                <div class="icon">
                                    <i class="fa-solid fa-arrow-right"></i>

                                </div>
                            </div>
                            <div class="pro-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi at, quasi dolorem
                                    obcaecati officiis nulla suscipit, voluptatem quae in quos vero harum eveniet?
                                    Quia voluptatum inventore, reiciendis eveniet rerum in excepturi aperiam qui sit
                                    aliquid amet ratione corporis officiis illum facilis quidem, reprehenderit esse
                                    pariatur neque veniam fugit eaque enim est animi? Quis provident sit obcaecati
                                    dolorum culpa maxime neque hic nulla vel voluptates? Facere, eveniet recusandae
                                    dolor dolores velit eligendi, labore eos aliquid, quidem itaque maxime. Quis
                                    suscipit, repellat atque, laboriosam labore adipisci asperiores iusto modi
                                    perferendis ut quia distinctio magni quod sequi harum similique hic nulla
                                    mollitia! Cumque?</p>
                            </div>
                        </div>
                        <div class="pro-category-list col-md-9">

                            <div class="container-fluid">
                                <div class="row">

                                    <div class="pro-category li col-md-3" >
                                        <ul >
                                            <li *ngFor="let category of categories">
                                                <a class="active" (click)="toggleShow()" routerLink="/urunler/{{category.header}}/{{category.slug}}/{{category.id}}" >{{category.name}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="pro-category li col-md-3" *ngIf="isShown" >
                                        <ul *ngIf="serviceDetail">
                                            <li *ngFor="let service of serviceDetail" >
                                                <a class="active" >{{service.name}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <!-- <div class="pro-category image col-md-6">
                                        <div class="pro-image">
                                            <img src="./img/pro-asetik-asit.jpg" alt="">
                                        </div>
                                        <div class="pro-detail">
                                            <div class="detail-title">
                                                <p>Asetik Asit (%80 - 100)</p>
                                            </div>
                                            <div class="detail-code">
                                                <p>Ürün Kodu: E 260 </p>
                                            </div>
                                            <div class="detail-sort">
                                                <p>Ambalaj Çeşidi:</p>
                                            </div>
                                            <div class="detail-desc">
                                                <p>
                                                    E260 koduna sahiptir. Asetik Asit, zayıf bir asittir ve bu yüzden ev
                                                    içerisinde temizlik maddesi olarak işlev görür. Örnek olarak,
                                                    çaydanlıkların kireçten arındırılması, cam ve benzeri parlak
                                                    yüzeylerin madeni birikimlerinden temizlenmesi, gösterilebilir.

                                                    Asetik Asit'in ayrıca koruma görevi vardır, gıdalarda ve soslarda
                                                    koruma amaçlı kullanılır. Turşu imalatında da görev alması bu
                                                    yüzdendir. Sağladığı asitli ortam birçok mikroorganizmanın oluşumuna
                                                    engel teşkil etmektedir. Bu da turşulaşan sebzelerin ömrünü uzatır.
                                                    Asitlik sağlayıcı, lezzet verici, koruyucu, şelatlayıcı gibi
                                                    görevlerde bulunur. Sirke imalatında, ilaç ve kozmetik ürünlerde,
                                                    apre dağlama maddelerinin yapımında asetik asit kullanılır.

                                                    Bunların yanı sıra, kauçuk imalatında koagülatör olarak kullanılır.
                                                    Ayrıca deri sanayisinde ve boya yapımında işlevi bulunmaktadır.
                                                    Alüminyum asetat tuzu, taze kesilmiş yaralarda kan dindirici olarak
                                                    kullanılır.
                                                </p>
                                                
                                            </div>
                                            
                                        </div>

                                    </div> -->

                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<app-footer></app-footer>