
<section id="main" >
<app-sidebar></app-sidebar>

    <div class="col-md-11">
        <div class="mainpage" >
            <div class="product col-md-11">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" >
                            <div class="pro-title">
                                <a routerLink="/urunler">{{title}}</a>
                            </div>
                            <div class="pro-group">
                                <div class="pro-group-title">
                                    <a routerLink="/urunler">{{group_title}}</a>
                                </div>
                                <div class="icon">
                                    <i class="fa-solid fa-arrow-left"></i>

                                </div>
                            </div>
                            <div class="pro-group-alt-title">
                                <div>
                                    <h3>{{group_alt_title}}</h3>
                                </div>
                            </div>
                            <div class="product-category" >
                                <div class="pro-group-title" >
                                    <h1 *ngIf="categoryTitle">{{categoryTitle[0]?.header}}</h1>
                                </div>
                                <div class="icon">
                                    <i class="fa-solid fa-arrow-right"></i>

                                </div>
                            </div>
                            <div class="pro-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi at, quasi dolorem
                                    obcaecati officiis nulla suscipit, voluptatem quae in quos vero harum eveniet?
                                    Quia voluptatum inventore, reiciendis eveniet rerum in excepturi aperiam qui sit
                                    aliquid amet ratione corporis officiis illum facilis quidem, reprehenderit esse
                                    pariatur neque veniam fugit eaque enim est animi? Quis provident sit obcaecati
                                    dolorum culpa maxime neque hic nulla vel voluptates? Facere, eveniet recusandae
                                    dolor dolores velit eligendi, labore eos aliquid, quidem itaque maxime. Quis
                                    suscipit, repellat atque, laboriosam labore adipisci asperiores iusto modi
                                    perferendis ut quia distinctio magni quod sequi harum similique hic nulla
                                    mollitia! Cumque?</p>
                            </div>
                        </div>
                        <div class="pro-category-list col-md-9">

                            <div class="container-fluid">
                                <div class="row">

                                    <div class="pro-category li col-md-3" *ngIf="categoryTitle">
                                        <ul >
                                            <li *ngFor="let title of categoryTitle">
                                                <a class="active" routerLink="/urunler/{{title.header_slug}}/{{title.slug}}/{{title.id}}"  >{{title?.name}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="pro-category li col-md-3"  >
                                        <ul *ngIf="serviceDetail">
                                            <li *ngFor="let service of serviceDetail" >
                                                <a class="active" routerLink="/urunler/{{service.header_slug}}/{{service.category_slug}}/{{service.categoryId}}/{{service.slug}}" >{{service.name}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="pro-category image col-md-6" *ngIf="detailPage">
                                        <div class="pro-image">
                                            <img [src]="detailPage[0]?.img" alt="">
                                        </div>
                                        <div class="pro-detail">
                                            <div class="detail-title">
                                                <p>{{detailPage[0]?.title}}</p>
                                            </div>
                                            <div class="detail-code">
                                                <p>{{detailPage[0]?.product_code}}</p>
                                            </div>
                                            <div class="detail-sort">
                                                <p>Ambalaj Çeşidi:</p>
                                            </div>
                                            <div class="detail-desc">
                                                <p>{{detailPage[0]?.description}}</p>
                                                
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<app-footer></app-footer>