<div class="sidebar col-md-2" style="width: 100px;">
    <ul>
        <li>
            <a routerLink="/">İntro</a>
        </li>
        <li>
            <a routerLink="/urunler/">Ürünler</a>
        </li>
        <li>
            <a routerLink="/hizmetler/">Hİzmetler</a>
        </li>
        <li>
            <a routerLink="/kurumsal/">Kurumsal</a>
        </li>
        <li>
            <a href="/iletisim">İletişim</a>
        </li>
        <li>
            <a href="ik.html">İK</a>
        </li>
    </ul>
</div>
