<section id="about">
  <div class="about-title">

    <div class="container">
      <div class="row">

        <div class="title-container col-md-11 mx-5">
          <div class="description">
            <h1 class="an-2">GÜÇLÜ İTHALAT AĞIMIZLA <br> <strong>kaliteyi sizlerle buluşturuyoruz...</strong></h1>
            <!-- <span>
              <p>{{short_desc}}</p> <b>{{long_desc}}</b>
            </span> -->
          </div>
          
        </div>
      </div>
    </div>

  </div>
</section>
