<section id="main">
    <div class="col-md-12">
        <div class="mainpage">

            <app-sidebar></app-sidebar>
            <div class="product col-md-11">
                <div class="container">
                    <div class="row">
                        <div class="service col-md-3  animate__fadeInLeft">
                            <div class="pro-title">
                                <h2>KURUMSAL</h2>
                            </div>
                            
                            <div class="pro-group-alt-title" id="pro-group-title">
                                <div class="service-title active">
                                    <a>HAKKIMIZDA</a>
                                </div >
                                <div class="service-title">
                                    <a>DEĞERLERİMİZ</a>
                                </div>
                                <div class="service-title">
                                    <a>GÜCÜMÜZ</a>
                                </div>
                                <div class="service-title">
                                    <a>VİZYONUMUZ</a>
                                </div>
                                <div class="service-title">
                                    <a>MİSYONUMUZ</a>
                                </div>
                                <div class="service-title">
                                    <a>HABERLER</a>
                                </div>
                            </div>

                        </div>
                        <div class="service-container animate__fadeInUp col-md-9">

                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-7">
                                        <div class="service-detail">
                                            <div class="service-img">
                                                <img src="../../assets/img/corporate-img.jpg" alt="">
                                            </div>
                                            <div class="service-detail-desc">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
