<section id="main">
    <div class="col-md-11">
        <div class="mainpage" style="position: relative;">
            <div class="product col-md-11">
                <div class="container">
                    <div class="row">
                        <div class="service col-md-3  animate__fadeInUp" >
                            <div class="pro-title" routerLink="/kurumsal">
                                <a >{{title}}</a>
                            </div>

                            <div class="pro-group-alt-title" id="pro-group-title" *ngFor="let category of categories" (click)="toggleShow()" routerLink="/{{category.corporate}}/{{category.slug}}">
                                <div class="service-title"  routerLinkActive="active">
                                    <a>{{category.name|uppercase}}</a>
                                </div>

                            </div>

                        </div>
                        <div class="service-container animate__fadeInUp col-md-9" >

                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-7" *ngIf="corporateDetail">
                                        <div class="service-detail">
                                            <div class="service-img">
                                                <img [src]="corporateDetail[0]?.categoryImg" alt="">
                                            </div>
                                            <div class="service-detail-desc">
                                                <p>{{corporateDetail[0]?.description}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>