<section id="main">
    <div class="col-md-11">
        <div class="mainpage">
            <div class="product col-md-10" style="margin-left: 100px;">
                <div class="container">
                    <div class="row">
                        <div class="pro-animation col-md-3 animate__fadeInUp">
                            <div class="pro-title" routerLink="/kurumsal">
                                <a>{{title}}</a>
                            </div>
                            <div class="pro-group ">
                                <div class="pro-group-title">
                                    <a>SEKTÖRE GÖRE</a>
                                </div>
                                <div class="icon">
                                    <i class="fa-solid fa-arrow-right"></i>

                                </div>
                            </div>
                            <div class="pro-group-alt-title">
                                <div class="product-title">
                                    <a>ÜRÜN GRUPLARI</a>
                                </div>
                            </div>
                            <div class="pro-desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi at, quasi dolorem
                                    obcaecati officiis nulla suscipit, voluptatem quae in quos vero harum eveniet?
                                    Quia voluptatum inventore, reiciendis eveniet rerum in excepturi aperiam qui sit
                                    aliquid amet ratione corporis officiis illum facilis quidem, reprehenderit esse
                                    pariatur neque veniam fugit eaque enim est animi? Quis provident sit obcaecati
                                    dolorum culpa maxime neque hic nulla vel voluptates? Facere, eveniet recusandae
                                    dolor dolores velit eligendi, labore eos aliquid, quidem itaque maxime. Quis
                                    suscipit, repellat atque, laboriosam labore adipisci asperiores iusto modi
                                    perferendis ut quia distinctio magni quod sequi harum similique hic nulla
                                    mollitia! Cumque?</p>
                            </div>
                        </div>
                        <div class="pro-card-container col-md-9">

                            <div class="container-fluid">
                                <div class="row">


                                    <div class="pro animate__fadeInUp col-md-4" *ngFor="let product of products">
                                        <div class="pro-image">
                                            <img [src]="product.img" alt="">
                                        </div>
                                        <div class="img-detail">
                                            <div class="detail-button">
                                                <a routerLink="/urunler/{{product.slug}}">
                                                    <p><span>{{product.name}}</span></p>
                                                </a>
                                            </div>


                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</section>