<div class="container">

    <div class="contact-form product col-md-11" style="position: absolute;">

        <div class="container">
            <div class="row">
                <div class="service col-md-3">
                    <div class="pro-title">
                        <a routerLink="/iletisim">{{title}}</a>
                    </div>

                    <div class="pro-group-alt-title" *ngFor="let category of categories" routerLink="/iletisim/{{category.slug}}">
                        <div class="service-title" >
                            <a  >{{category.name}}</a>
                        </div>
                        

                    </div>

                </div>
                <div class="service-container col-md-9">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-7">
                                <div class="service-detail" *ngIf="contactDetail">

                                    <div class="service-detail-desc">

                                        <p style="width: 50%;">{{contactDetail[0].address}}</p>
                                        <!-- <p>C Blok No: 4/B Karatay/Konya</p> -->
                                        <p class="tel" style="margin: 20px 0;">{{contactDetail[0].tel}}</p>
                                        <p>{{contactDetail[0].email_1}}</p>
                                        <p>{{contactDetail[0].email_2}}</p>
                                        <p>{{contactDetail[0].email_3}}</p>
                                    </div>
                                    <div class="service-maps">
                                        <iframe
                                        [src]="contactDetail[0].map | safe"
                                            height="300" width="100%" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>