<div class="container">
    <app-sidebar></app-sidebar>

    <div class="product col-md-11" style="position: absolute;">

        <div class="container">
            <div class="row">
                <div class="service col-md-3">
                    <div class="pro-title">
                        <h2>İLETİŞİM</h2>
                    </div>

                    <div class="pro-group-alt-title">
                        <div class="service-title">
                            <h3>İLETİŞİM BİLGİLERİ</h3>
                        </div>
                        <div>
                            <h3>İLETİŞİM FORMU</h3>
                        </div>

                    </div>

                </div>
                <div class="service-container col-md-9">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-7">
                                <div class="service-detail">

                                    <div class="service-detail-desc">

                                        <p>Fevzi Çakmak Mah. 10768 Sk.</p>
                                        <p>C Blok No: 4/B Karatay/Konya</p>
                                        <p class="tel" style="margin: 20px 0;">Tel: +90 (332) 345 00 81</p>
                                        <p>info@ateslerkimyevi.com</p>
                                        <p>satis@ateslerkimyevi.com</p>
                                        <p>muhasebe@ateslerkimyevi.com</p>
                                    </div>
                                    <div class="service-maps">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100784.10589875409!2d32.374113606548974!3d37.8719106802748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d085d591159b93%3A0x2756a75199c327e8!2sAte%C5%9Fler%20Kimyevi%20Maddeler!5e0!3m2!1str!2str!4v1660345228828!5m2!1str!2str"
                                            height="300" width="100%" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>